:root{
    --mp-bg: #0D102A;
}

.nav-bg{
    background-color: var(--mp-bg);
}

.left-side{
    width: 70%;
    display: inline-block;
}

.header-bg{
    background-color: #141B41;
}

.play-btn{
    background-image: linear-gradient(to right, #3A25B1, #C649E0);
}

ol li{
    counter-increment: list;
    margin-top: 0.6em;
    padding: 0.4em;
    border-radius: 15px;
}

ol li::before{
    color: #777;
    content: counter(list) ".";
    margin-right: 0.5em;
}

ol li:hover{
    background-color: #424561;
}

.right-side{
    width: 26%;
    display: inline-block;
    vertical-align: top;
}
.similar-artist:hover{
    background-color: #424561;
}